body{
    /* margin: auto; */
    min-height: 600px;
    display: flex;
    justify-content: center;
   align-items: center;
}
.color{
    background-color: #5f5a5a;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.color:hover{
    background-color: #000;
}